$font-family: "Ubuntu", sans-serif;
$second-family: "Work Sans", sans-serif;
$third-family: "Roboto", sans-serif;

$main: #116ACC;
$gray-background: #f3f4f6;
$gray-text: #374151;
$text: #182233;
$text-paceholder: #6b7280;
$crypto-block: #e5e5e5;
$border-input: rgb(156, 163, 175);
$second-border: rgb(0, 82, 255);
$light-blue-background: rgb(160, 195, 255);
$pressed: #003366;
$error: rgb(186, 0, 0);
$succes: #76ca66;