.header {
    &__wrap-buttons {
        display: flex;
        gap: 25px;
    }

    &__link {
        display: block;
        padding: 14px 24px;
        border: 2px solid $main;
        border-radius: 7px;
        @include button-fonts;
        color: $main;
        background-color: white;
        cursor: pointer;
        animation: add ease-in-out 0.5s;
    }

    &__link:disabled {
        background-color: $light-blue-background;
    }

    @keyframes add {
        0% {
            transform: scale(0);
        }

        33% {
            transform: scale(0.33);
        }

        66% {
            transform: scale(0.66);
        }

        99% {
            transform: scale(0.99);
        }

        100% {
            transform: scale(1);
        }
    }

    &__link:focus {
        outline: 1px solid white;
    }

    @media screen and (min-width: 1024px) {
        &__link:hover {
            background: linear-gradient(0deg, rgba($main, 0.1) 0%, rgba($main, 0.1) 0%), linear-gradient(0deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 0%);
        }

        &__link:disabled:hover {
            background-color: firebrick;
        }
    }

    &__link:active {
        background: linear-gradient(0deg, rgba($main, 0) 0%, rgba($main, 0) 0%), linear-gradient(0deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 0%);
    }

    &__link:disabled:active {
        background-color: firebrick;
    }
}

//Медиа-адаптив
@media (max-width: 767.98px) {
    .header {
        &__link {
            padding: 10px 20px;
            font-size: 14px;
            line-height: 1;
        }
    }
}

@media (max-width: 575.98px) {
    .header {
        &__wrap-buttons {
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 10px;
        }

        &__link {
            padding: 6px 16px;
            font-size: 12px;
        }
    }
}